<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>  
	<title>IVU Loto Results &amp; Tracker for iPhone</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
	<link rel="stylesheet" type="text/css" href="javascripts/fancybox/jquery.fancybox-1.3.1.css" />
	<script type="text/javascript" src="javascripts/jquery.js"></script>
	<script type="text/javascript" src="javascripts/jquery.scroll.js"></script>
	<script type="text/javascript" src="javascripts/jquery.serialScroll.js"></script>
	<script type="text/javascript" src="javascripts/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
	<script type="text/javascript" src="javascripts/jquery.tools.js"></script>
	<script type="text/javascript" src="javascripts/slickapp.js"></script>
	<script type="text/javascript" src="javascripts/underscore-1.3.3.js"></script>
	<script type="text/javascript" src="javascripts/backbone-0.9.2.js"></script>
	<script src="http://www.parsecdn.com/js/parse-1.0.7.min.js"></script>
	<script type="text/javascript" src="javascripts/ivulotoapp.js"></script>
</head>
<body>
	
	<div id="top_bar"></div>
		
	<div id="top_content_wrap"> <!-- Start App Description -->
		<div id="top_content" class="page">
			<div id="app_screenshot"> <!-- Start App Screencast -->
				<div class="price_badge"></div>
				<div class="screencast">
					<!-- Uncomment to use a static screenshot 
					<iframe src="http://player.vimeo.com/video/14500965?title=0&amp;byline=0&amp;portrait=0" width="195" height="291" frameborder="0"></iframe>
					 -->
						<img src="images/ss_5.png" alt="" />
				</div>
			</div> <!-- End App Screencast -->
		
			<div id="app_description"> <!-- Start App Description -->
				<div class="header">
					<h1>IVU Loto Results &amp; Tracker</h1>
					<div class="version">Versi&oacute;n 2.1</div>
					<div class="clear"></div>
				</div>
				<p>Recibe los resultados de IVU Loto en tu iPhone o iPod Touch. Verifica facilmente si tienes un ganador. Entra tus números de IVU Loto para recibir notificación inmediata si eres un ganador.</p>
				<ul>
					<li>F&aacute;cil de usar</li>
					<li>Resultados en tus manos. Puedes ganar hasta $25,000 en cada sorteo.</li>
					<li>Añade tus recibos inmediatamente - no tienes que buscarlos despues de cada sorteo.</li>
					<li>Te notificamos si eres ganador. Una notificación llegará directo a tu celular si sale tu número.</li>
				</ul>
			
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) {return;}
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#appId=278352395526715&xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
				<fb:like href="https://www.facebook.com/IVULotoApp" send="false" width="450" show_faces="true"></fb:like>
			
				<div class="actions">
					<a href="/download.html" class="app_store">Disponible en el iPhone</a>
					<p>
						<b>Requerimientos:</b>
						Compatible con iPhone y iPod touch, iOS 5.0 o mas reciente. Se necesita una conecci&oacute;n WiFi o 3G para obtener nuevos resultados y notificaciones.
					</p>
					<div class="clear"></div>
				</div>
			</div> <!-- End App Description -->
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="page_seperator"></div>
	
	<div id="nav"> <!-- Start Page Navigation -->
		<ul class="tabs page">
			<li><a href="#home">Resultados</a></li>
			<li><a href="#screenshots">App</a></li>
			<li><a href="#release_notes">Versiones</a></li>
			<li><a href="#about">Equipo</a></li>
			<li><a href="#contact">Contacto</a></li>
		</ul>
		<div class="clear"></div>
	</div> <!-- End Page Navigation -->
	 
	<div id="bottom_content" class="page panes">
		
		<div id="home" class="pane"> <!-- Start Homepage -->
			
			<div id="features"> <!-- Start Features -->
				<div class="feature">
<!-- 					<div class="new"></div> -->
					<div class="content" id="main">
					</div>
					<div class="bottom"></div>
				</div>
				<div class="feature">
					<div class="content">
						<div class="screenshot">
							<img src="images/feature_1.jpg" alt="" />
							<a href="images/feature_1.jpg" class="screenshots" rel="group">Enlarge</a>
						</div>
						<p>La fecha del sorteo es seleccionada autom&aacute;ticamente.</p>
					</div>				
					<div class="bottom"></div>
				</div>
				<div class="feature last">
					<div class="content">
						<div class="screenshot">
							<img src="images/feature_2.jpg" alt="" />
							<a href="images/feature_2.jpg" class="screenshots" rel="group">Enlarge</a>
						</div>
						<p>Parea tus recibos con el negocio usando tu ubicaci&oacute;n.</p>
					</div>				
					<div class="bottom"></div>
				</div>
				<div class="clear"></div>
			</div> <!-- End Features -->
		
			<div id="reviews_faqs">
			
				<div id="reviews"> <!-- Start Reviews -->
					<div class="review">
						<p>With the IVU Loto app I will forget no more to check the results of each draw, since everytime they're available I will get them directly on my phone and it even lets me know if I have a winning number! Its awesome!</p>
						<span>- Jos&eacute; Padilla <a href="http://jpadilla.com/">jpadilla.com</a></span>
					</div>
					<div class="review">
						<p>¡Diablo mano! No sabía que hacer con los 3,000 recibos de IVU Loto que no he chequia'o. ¡Ahora uso el IVU Loto App y listo! ¡Y es Gratis!</p>
						<span>- Edgardo Jimenez <a href="http://www.sellingbytes.com/">Selling Bytes</a></span>
					</div>
					<div class="review">
						<p>Yo no uso IVU Loto; ni siquiera vivo en Puerto Rico. Pero si lo hiciera, no me quedaría más remedio que usar este App.</p>
						<span>- Alfonzo G&oacute;mez-Arzola <a href="http://www.agarzola.com">agarzola.com</a></span>
					</div>
					<div class="review">
						<p>Esta aplicación es como decimos los boricuas 'un palo'. Las lista de los sorteos estan completas, al día y con el lugar de origen del premio. Una aplicación sencilla y fácil de usar. Excelente! Es un "must have"!!! A++</p>
						<span>- Cheetopr</span>
					</div>
					<!-- Add more reviews here -->
				</div> <!-- End Reviews -->
			
				<div id="faqs"> <!-- Start FAQs -->
					<div class="left_column">
						<div class="faq">
							<b>¿D&oacute;nde puedo conseguir apoyo al respecto de este app?</b>
							<p>Estamos disponibles por correo electr&oacute;nico para toda pregunta relacionada al app: <a href="mailto:apoyo@ivulotoapp.com">apoyo@ivulotoapp.com</a>.</p>
						</div>
						<div class="faq">
							<b>¿C&uacute;al es el costo del app?</b>
							<p>El app es gratis, y as&iacute; ser&aacute; por un buen tiempo. No tenemos planes de cobrar por el app.</p>
						</div>
						<div class="faq">
							<b>¿Qu&eacute; ocurre con la informaci&oacute;n entrada en el app?</b>
							<p>Toda informaci&oacute;n entrada en el app es totalmente an&oacute;nima. S&oacute;lo utilizamos los n&uacute;meros de IVU Loto entrados para validar si eres ganador y as&iacute; avisarte en el app. La informaci&oacute;n no es compartida con terceros ni es utilizada para alg&uacute;n otro prop&oacute;sito.</p>
						</div>
					
					</div>
				
					<div class="right_column">
						<div class="faq">
							<b>¿C&oacute;mo me entero si gan&eacute; el IVU Loto?</b>
							<p>Los s&aacute;bados y martes, luego de cada sorteo, recibir&aacute; una alerta en el app si alg&uacute;n recibo que ha entrado pr&eacute;viamente sale premiado. Cuando entras un recibo para un sorteo que ya ha sido efectuado, el mismo es validado al instante. De ser ganador, se presenta un mensaje y el recibo aparece como ganador en tu listado de IVU Lotos.</p>
						</div>
					
					</div>
					<div class="clear"></div>
				</div> <!-- End FAQs -->
			
				<div class="clear"></div>
			
			</div>
		</div> <!-- End Homepage -->
		
		<div id="screenshots" class="pane"> <!-- Start Screenshots Page -->
			<h2>Pantallas</h2>
			<ul>
				<li><a href="images/ss_2.png" class="screenshots" rel="group_1"><img src="images/ss_2.png" alt="" /></a></li>
				<li><a href="images/ss_3.png" class="screenshots" rel="group_1"><img src="images/ss_3.png" alt="" /></a></li>
				<li><a href="images/ss_1.png" class="screenshots" rel="group_1"><img src="images/ss_4.png" alt="" /></a></li>
				<li><a href="images/ss_4.png" class="screenshots" rel="group_1"><img src="images/ss_4.png" alt="" /></a></li>
			</ul>
			<div class="clear"></div>
		</div> <!-- End Screenshots Page -->
		 
		<div id="release_notes" class="pane"> <!-- Start Release Notes Page -->
			<div class="release"> <!-- Start Release -->
				<div class="left">
					<h3>IVU Loto App 2.2</h3>
					<span class="date">9 de julio del 2012</span>
				</div>
				<div class="right">
					<ul>
						<li>Nuevo: Los recibos viejos no-ganadores se pueden archivar autom&acute;ticamente.</li>
						<li>Nuevo: Notificaciones en español.</li>
						<li>Arreglo: Mejoras en rendimiento bajo red celular.</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div> <!-- End Release -->
			<div class="release"> <!-- Start Release -->
				<div class="left">
					<h3>IVU Loto App 2.1</h3>
					<span class="date">13 de marzo del 2012</span>
				</div>
				<div class="right">
					<ul>
						<li>Arreglo: A petici&oacute;n popular hemos traído de vuelta la barra de B&uacute;squeda.</li>
						<li>Nuevo: Si no encuentras el nombre del negocio en nuestra búsqueda integrada a Foursquare, puedes a&ntilde;adir el mismo a mano.</li>
						<li>Nuevo: Ahora se pueden borrar los recibos sin esperar por que cada uno sea borrado.</li>
						<li>Arreglo: Migraci&oacute;n de recibos en transici&oacute;n a 2.0.</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div> <!-- End Release -->
			<div class="release"> <!-- Start Release -->
				<div class="left">
					<h3>IVU Loto App 2.0</h3>
					<span class="date">25 de febrero del 2012</span>
				</div>
				<div class="right">
					<ul>
						<li>Nuevo: Organizaci&oacute;n de IVU Lotos por fecha de sorteo.</li>
						<li>Nuevo: Integraci&oacute;n con Foursquare para ubicar negocios cercanos.</li>
						<li>Nuevo: Ajuste de notificaciones recibidas por el app: resultados y recibos ganadores.</li>
						<li>Nuevo: Ajustes a la interfaz.</li>
						<li>Nuevo: Validaci&oacute;n de recibos contra listado de ganadores al momento de ser a&ntidle;adidos.</li>
						<li>Arreglo: Bug al borrar IVU Lotos.</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div> <!-- End Release -->
			<div class="release"> <!-- Start Release -->
				<div class="left">
					<h3>IVU Loto App 1.2</h3>
					<span class="date">8 de diciembre del 2011</span>
				</div>
				<div class="right">
					<ul>
						<li>Arreglo: Bug que causaba que algunos resultados recientes no fueran cargados.</li>
						<li>Nuevo: Solo se muestran los &uacute;ltimos 60 dias de resultados, ya que los boletos expiran luego de este periodo.</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div> <!-- End Release -->
			<div class="release">
				<div class="left">
					<h3>IVU Loto App 1.1</h3>
					<span class="date">28 de septiembre del 2011</span>
				</div>
				<div class="right">
					<ul>
						<li>Arreglo: Crash en iOS 4.2.</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="release last">
				<div class="left">
					<h3>IVU Loto App 1.0</h3>
					<span class="date">23 de septiembre del 2011</span>
				</div>
				<div class="right">
					<ul>
						<li>Primera versi&oacute;n.</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div> <!-- Start Release Notes Page -->
		<div id="about" class="pane"> <!-- Start About Page -->
			<div class="left">
				<h2>¿Quien hizo el IVU Loto App?</h2>
				<p>H&eacute;ctor Ramos es un desarrollador de aplicaciones de iPhone basado originalmente en Puerto Rico.</p>
				
				<p>Actualmente trabaja en <a href="http://parse.com">Parse</a> en San Francisco, California. Previamente trabaj&oacute; en <a href="http://polsense.com">Polsense</a> en Guaynabo, Puerto Rico, desarrolladores de aplicaciones de iOS para Heineken, Liberty Cablevision y Banco Popular de Puerto Rico. Escribe de vez en cuando su <a href="http://www.hectorramos.com">blog</a>. Promovedor de <a href="http://www.startupsofpuertorico.com">startups en Puerto Rico.</a></p>

				<p>Particip&oacute; en la organizací&oacute;n del primer TEDx en Puerto Rico: <a href="http://www.tedxsanjuan.com">TEDxSanJuan</a>.</p>
			</div>

			<div class="right">
				<h2>Equipo</h2>
				<ul>
					<li class="last">
						<img src="images/team_hector.jpg" alt="" width="60" />
						<h3>H&eacute;ctor Ramos</h3>
						<span>Desarrollador</span>
						<a href="http://www.twitter.com/hectorramos">Twitter</a> / <a href="http://www.hectorramos.com">Website</a>
					</li>
					<!-- Add more team members here -->
				</ul>
			</div>
			<div class="clear"></div>
		</div> <!-- End About Page -->
		
		<div id="contact" class="pane"> <!-- Start Contact Page -->
			<div id="contact_form">
				<div class="left">
					<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

					<script type="text/javascript">
					var w7x3k1 = new WufooForm();
					w7x3k1.initialize({
					'userName':'hramos', 
					'formHash':'w7x3k1', 
					'autoResize':true,
					'height':'577',
					'header':'show'});
					w7x3k1.display();
					</script>
				</div>
				
				<div class="right">
					<b>Hablanos</b>
					<p>¿Tienes alguna sugerencia o comentario? D&eacute;janos saber. </p>
					<a href="mailto:info@ivulotoapp.com" class="email">info@ivulotoapp.com</a>
				</div>
				
				<div class="clear"></div>
			</div>
		</div> <!-- End Contact Page -->
		
	</div>
	
	<div id="footer" class="page"> <!-- Start Footer -->
	
		<div class="top">
			<img src="images/logo_footer.jpg" alt="" />
			
			<ul>
				<li class="twitter"><a href="http://www.twitter.com/IVULotoApp">Twitter</a></li>
				<li class="facebook"><a href="http://www.facebook.com/IVULotoApp">Facebook</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		
		<div class="bottom">
			<a href="/download.html"><img src="images/app_store_small.gif" alt="" /></a>
			<p>Copyright &copy; 2012 IVULotoApp.com.</p>
			<div class="clear"></div>
		</div>
		
	</div> <!-- End Footer -->

<!-- Templates -->

  <script type="text/template" id="drawing-template">
	<p><strong><%= entry_display %></strong> - <%= business_name %>, <%= city %></p>
  </script>

  <script type="text/template" id="results-template">
	<h2><%= drawing_date %></h2>
	<h3>Drawing <%= drawing_identifier %></h3>
	<div id="results">
		<img src="images/ajax-loader.gif"/>
	</div>
  </script>


	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28074618-1']);
	  _gaq.push(['_setDomainName', 'ivulotoapp.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>